# PostgreSQL
POSTGRES_DB=nakama
POSTGRES_PASSWORD=localdb

# Nakama
NAKAMA_DB_ADDRESS=postgres:localdb@postgres:5432/nakama

# Client (used at build time)
REACT_APP_NAKAMA_HOST=127.0.0.1
REACT_APP_NAKAMA_PORT=7350
